@import "./base.css";

button,
input {
  margin: 0px;
  padding: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: none;
  outline: none;
  line-height: 1;
}

#app {
  background: url(../img/background.jpg) no-repeat center center;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .time {
    position: relative;
    top: -24%;
    .inner {
      color: white;
      font-size: 36px;
      font-weight: inherit;
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
      cursor: pointer;
      transition: 0.25s;
      line-height: 20px;
      animation-name: delayedFadeIn;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-delay: 0s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .search-bar {
    display: flex;
    align-items: center;

    border-radius: 10px;
    padding: 8px;
    background: #fff;

    position: relative;
    top: -20%;
    display: flex;

    .logo {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      margin-right: 20px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .input-box {
      width: 500px;
      min-height: 20px;
      display: flex;

      .input {
        font-family: "PingFang SC", "Microsoft Yahei", Helvetica, Arial,
          sans-serif;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        border-radius: 0px;
        font-weight: 300;
        padding-left: calc(var(--search-height) * 0.155);
        padding-right: 2.5em;
        font-size: calc(var(--search-height) * 0.304);
        color: rgb(51, 51, 51);
      }
    }
  }

  .popup-menu {
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    top: -18%;
    z-index: 12;
    display: flex;
    max-width: 680px;
    background: #fff;

    .box {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .box-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border: 1px solid #eee;
        padding: 6px;
      }
    }
  }
}
